<div class="nav">
  <h1>Galvanize Reads</h1>
  <a href="/books">Books</a>
  <a href="/authors">Authors</a>
  <a href="/">Home</a>
</div>

<form class="" action="/books/newBook" method="post">
  <div class="">
      <label for="book_pic">Add Book Cover Photo URL:</label>
      <input type="text" name="book_pic" value="" placeholder="enter a URL for the books cover">
    </div>
  <div class="">
      <label for="title">Add Title:</label>
      <input type="text" name="title" value="{{title}}" placeholder="enter a new title">
    </div>
      <label for="author ">Add Author</label>
      <select class="author" name="author">
        {{#each authors}}
        <option value="{{id}}">{{this.first_name}}{{this.last_name}}</option>
        {{/each}}
      </select>
    <div class="">
      <label for="genre">Add Book Genre:</label>
      <input type="text" name="genre" value="" placeholder="enter book genre..">
    </div>
    <div class="">
      <label for="description">Add Book Description:</label>
      <input type="text" name="description" value="" placeholder="enter description...">
    </div>
    <button type="submit" name="button">Update Book</button>
</form>
