
<div class="nav">
  <h1>Galvanize Reads</h1>
  <a href="/books">Books</a>
  <a href="/authors">Authors</a>
  <a href="/">Home</a>
</div>
<section class="homeNav">
  <div class="homeBooks">
    <a href="/books"><img id="homeBook" src="https://images.pexels.com/photos/46274/pexels-photo-46274.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt=""></a>
  </div>
  <div class="homeAuthor">
    <a href="/authors"><img id="homePerson" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ1GWfO8iKsTiAyVstD8goLCyxmS6EWgMT1-5RptDx1VkbsVura" alt=""></a>
  </div>
</section>
