<head>
  <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>

<section class="row">
    <div class=" col s4 m4 l6">
      <a href="/books"><img id="home" src="http://az616578.vo.msecnd.net/files/2017/03/03/636241784352981840686677890_books.jpg" alt=""></a>
      <a href="/books"><h3>Books</h3></a>
    </div>
    <div id="homeAuthor"class="col s4 m4 l6">
      <a href="/authors"><img  id="home" src="https://lh3.googleusercontent.com/jbTY3L4WsqZ3_LJ8v2w61ox9cw7r6N-v7TGn3Mu1r_DArNabwaE" alt=""></a>
      <a href="/authors"><h3>Authors</h3></a>
    </div>
</section>
