body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
main{
  padding-top: 20vh
}

#logo{
  /*width: 30%;
  height: 30%;*/
  width: 26em;
  height: 8em;
}
.right{
  margin-right: 2em;
  margin-top: 2em
}

a {
  color: #00B7FF;
}

.nav{
  background-color: black;
  color: white;
}

button{
  margin: 2em;
  color:black;
  background-color: white;
  border: 1px solid black;
}
html{
  background-color: #373F47;
}

.homeNav{
  box-sizing:content-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.homeAuthor{
  box-sizing: border-box;
  width: 20%;
  height: 20%;
}
#editPic{
  width: 20%;
  height: 20%;
}


.profile{
  box-sizing: border-box;
  border: 1px solid black;
  font-family:mplus-1p, Helvetica, arial, freesans, clean, sans-serif;
  background-color: white;
  padding: 1em;
}
/*#profileButton{
  color: black;
  padding-top: 20vh;
}*/

#home{
  width: 30em;
  height: 30em;
}
/*#homeAuthor{
  margin-left: 10em;
}*/
